/* components/Styles.module.css */
.modalOverlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.inputField {
  margin: 5px 0;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
